
    
.inputContainer {

    input {
        width: 100%;
        margin-top: 3px;
        border: 1px solid darkcyan;
        background: transparent;
        color: darkcyan;
        padding: .8em;
        margin-bottom: 1em;
        border-radius: .3rem;
        
        &::placeholder {
            color: darkcyan;
        }
    }

    .invalid {
        color: orangered;
        border: 1px solid orangered;

    }
      
    .validationError {
        display: block;
        color: orangered;
        margin: 5px 0;
    } 
}